.button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 9px 0 0 ;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--text-color, #000);
  padding: 10px 17px;
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  cursor: pointer;
  width: 130px;
  height: 38px;
}

.button_save {
  margin-bottom: 100px;
}

.button--save {
  padding: 15px 21px 15px 19px;
  position: relative;
  border: 2px solid var(--text-color, #000);
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--bg-color, #fff);
  color: var(--button-text-color, #000);
  font-size: 14px;
  cursor: pointer;
}

.button__text {
  align-self: center;
}

@media (width < 380px) {
  .button--save {
    flex-direction: column;
    align-items: center;
  }
}