.modal {
  border: 2px solid var(--text-color, #000);
  color: var(--text-color, #000);
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #fff);
  max-inline-size: 355px;
  padding: 30px;
  transition: opacity 0.3s ease-in-out;
}

/* Меняем display только при открытии окна */
.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
  opacity: 1;
}

/* Когда окно закрыто */
.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

/* Задний слой */
.modal::backdrop {
  background: rgb(0 0 0 / 75%);
  opacity: 0.75;
}

/* Содержимое диалога — иконка + текст */
.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Иконка дискеты */
.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

/* Текст диалога */
.modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

/* Кнопка «ОК» */
.modal__button {
  inline-size: 100%;
  height: 38px;
  border: 2px solid var(--text-color, #000);
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 17px;
}