.modal {
  border: 2px solid var(--text-color, #000);
  color: var(--text-color, #000);
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #fff);
  max-inline-size: 355px;
  padding: 30px;

  display: none;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  background: rgb(0 0 0 / 75%);
}

.modal__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.modal__button {
  inline-size: 100%;
  height: 38px;
  border: 2px solid var(--text-color, #000);
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 17px;
  transition: background-color 0.3s ease;
}